body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;

    background-image: url(../assets/Rocky_Cliffs_Sea_View_Background-325.jpg);
    background-repeat: no-repeat;

    .wrapper {
        width: 100%;
        margin-top: 50%;
        position: absolute;

        font-weight: bold;
        text-align: center;

        #clock {
            font-size: 5rem;
        }

        #when {
            font-size: 2rem;
        }


    }



}


@media only screen and (min-width: 1020px) {
    body {
        background-size: 100%;


        .wrapper {
            margin-top: 15%;


            #clock {
                font-size: 100px;
            }

            #when {
                font-size: 40px;
            }
        }
    }

}

@media only screen and (min-width: 1800px) {
    body {
        background-size: 100%;


        .wrapper {
            margin-top: 15%;


            #clock {
                font-size: 100px;
            }

            #when {
                font-size: 40px;
            }
        }
    }

}